kafka
flask
flask-cors
redis


# start zookeeper
# bin/zookeeper-server-start.sh config/zookeeper.properties

# start kafka
# bin/kafka-server-start.sh config/server.properties

# start redis
# brew services start redis (mac)